<div class='game-container'>
	<div class='column-left'>
		<div class='menu-container menu-container-left'></div>
		<div class='users-container users-container-left'></div>
	</div>
	<div class='column-middle'>
		<div class='tiles-container'></div>
		<div class='chat-container'></div>
	</div>
	<div class='column-right'>
		<div class='menu-container menu-container-right'></div>
		<div class='users-container users-container-right'></div>
	</div>
</div>
