<div id='game-container'>
	<h1>Cutthroat Anagrams</h1>
	<div id='countdown'></div>
	<div id='tiles-container'>
		<%- include game/tile_table.ejs %>
	</div>
	<div id='users-container'>
		<%- include game/user_board.ejs %>
	</div>
	<div id='chat-container'>
		<%- include game/chat_box.ejs %>
	</div>
</div>
