<div id='game-container'>
	<div class='column-left'>
		<div id='countdown'></div>
		<div id='users-container'></div>
	</div>
	<div class='column-middle'>
		<div id='tiles-container'></div>
		<div id='chat-container'></div>
	</div>
	<div class='column-right'>
		<div class='menu-container'></div>
	</div>
</div>
