haharofl
<div class='auth-container login-container'>
	<div class='header-row'>
		<div class='auth-title'>Log in</div>
		<div class='switch switch-to-register'>Register</div>
	</div>
	<div class='input-row'>
		<label for='login-username'>Username</label>
		<input type='text' class='login-username'></input>
		<div class='validation-error-container'></div>
	</div>
	<div class='input-row'>
		<label for='login-password'>Password</label>
		<input type='password' class='login-password'></input>
		<div class='validation-error-container'></div>
	</div>
	<div class='button-row'>
		<div class='auth-button login-button'>Play</div>
	</div>
</div>
