<div class='auth-container register-container'>
	<div class='header-row'>
		<div class='auth-title'>Register</div>
		<div class='auth-button switch-to-login-button'>Log in</div>
	</div>
	<div class='input-row'>
		<label for="register-username">Username</label>
		<input type='text' class='register-username'></input>
		<div class='validation-error-container'></div>
	</div>
	<div class='input-row'>
		<label for="register-password">Password</label>
		<input type='password' class='register-password'></input>
		<div class='validation-error-container'></div>
	</div>
	<div class='button-row'>
		<div class='auth-button register-button'>Play</div>
	</div>
</div>
