@border-light: #eeeeee;
html {
	height: 100%;
	width: 100%;
}

body {
	margin-left: 10px;
	height: 100%;
	width: 100%;
}

#game-container {
	height: 100%;
}

#tiles-container {
	width: 100%;
	height: 60%;
	min-height: 300px;
	float: left;
	display: inline-block;
	margin-bottom: 10px;
	word-wrap: break-word;
}

#tiles-table {
	height: 100%;
	width: 100%;
	border: 1px solid #eeeeee;
}

.tile-row {
	height: 10%;
}

.tile {
	width: 10%;
	border: 1px solid #eeeeee;
	font-size: 20px;
}

.greyed {
	background-color: #777777;
}

#chat-container {
	width: 100%;
	height: 40%;
	min-height: 300px;
	display: inline-block;
	float: left;
	vertical-align: top;
}

#chat-input {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

#chat {
	height: 200px;
	width: 100%;
	overflow-y: scroll;
	border: 1px solid #eeeeee;
	font-size: 12px;
}

.chat-text {
	white-space: pre;
}

#users-container {
	width: 100%;
	display: inline-block;
	padding: 10px;
	float: left;
	border: 1px solid #eeeeee;
}

.words-container {
	margin-top: 10px;
}

#users-title {
	font-weight: bold;
}

.menu-container {
	width: 100%;	
	padding: 10px;
}

.new-game-button-hidden {
	display: none;
}

.column-left {
	float: left;
	display: inline-block;
	width: 25%;
	height: 100%;
}

.column-middle {
	float: left;
	display: inline-block;
	width: 50%;
	height: 100%;
}

.column-right {
	float: left;
	display: inline-block;
	width: 25%;
	height: 100%;
}
