<div class="menu-button new-game-button <%= !gameCompleted ? 'menu-button-hidden' : '' %>">New game</div>
<div class='tiles-table <%= gameCompleted ? 'blur' : '' %>'>
	<% for (var i=0; i<10; i++) { %>
		<div class='tile-row' id='tile-row-<%= i %>'>
			<% for (var j=0; j<10; j++) { %>
				<div class='tile' id='tile-<%= i*10 + j %>' align='center'></div>
			<% } %>
		</div>
	<% } %>
</div>
